<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pm.library">

    <!--权限列表，测试动态申请权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TestActivity"
            android:process=":app">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PullToRefreshActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".XListViewActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".PTRListviewActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".IndexableListViewActivity"
            android:label="@string/app_name" />
        <activity android:name=".PermissionActivity"></activity>
    </application>

</manifest>